<!doctype html>

<html lang="en-us">   
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome home</title>
  </head>
  
  <body>
    <h1>Home Page</h1>
    <p>This is the home page of application.</p>
    <form action="" method="post">
      <input type="text" placeholder="Name" name="name"/>
      <input type="text" placeholder="Color" name="color"/>
      <input type="submit" value="Post"/>
    </form>
    <form action="" method="get">
      <div>
        :D
        <br>
          <input type="submit" value="Get data from DB"/>
      </div>
    </form>
  </body> 
</html>
